@model MyBlog.Models.EditUserProfile
@{ 
    ViewBag.Title = Resources.EditAccount;
}
@section scripts{
    @Scripts.Render("~/Scripts/Account-Edit")
}
@using (Html.BeginPanel(Resources.EditAccount))
{
    <div class="alert alert-info">@Resources.EditAccountInformation</div>
    if (Model.Success.HasValue)
    {
        if (Model.Success.Value)
        {
            <div class="alert alert-success">@Resources.EditAccountSuccess</div>
        }
        else
        {
            <div class="alert alert-danger">@Resources.EditAccountError</div>
        }
    }
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.User.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.EnterName } })
                @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.EnterEmail } })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                @if (Model.User.EmailValidate)
                {
                    <i class="fa fa-check-circle" aria-hidden="true"></i> @Resources.EmailValidationStatusOk
                }
                else if (Model.User.Id != 0)
                {
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> @Resources.EmailValidationStatusKo<br/>
                    <button type="button" class="btn btn-primary" id="sendvalidationmail"><i class="fa fa-paper-plane" aria-hidden="true"></i> @Resources.SendValidationMail</button>
                }            
            </div>
        </div>
        <div class="form-group">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="@Resources.Save" class="btn btn-primary" />
            </div>
        </div>
    }
}